.table{
    width: 50vw !important;
}

.form-group{
    margin: 0px;
}

.modal-footer button:first-child{
    width: 200px;
    margin-right: 10px;
}

.modal-footer{
    border: 1px solid  rgba(255, 255, 255, 0) !important;
    margin-top: 0px !important;
}

.modal-body{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.modal-content{
    background-color: rgba(255, 255, 255, 0.904) !important;
}

.error{
    color: red;
    font-size: 12px;
}

.pass{
    color: green;
    font-size: 12px;
}

table td button:hover{
    transform: scale(1.1);
}

table td button{
    outline: none !important; 
    box-shadow: 2px 2px #d4d4d4;
    border: none;
    border-radius: 3px;
    min-width: 30px;
    min-height: 27px;
} 

#closeBoxFrom{
    margin-left: 10px;
    background-color: darkgray;
}